#theForm {
    background-color: rgba(187, 183, 183, 0.3);
    border-top: 5px dotted black;
    margin-top: 20px;

    .formContainer {
        margin: 0 auto;
        padding: 20px;

        h1 {
            display: flex;
            justify-content: center;
        }

        .formList {
            display: flex;
            justify-content: center;

            form {
                width: 40%;

                textarea {
                    height: 150px;
                }
            }

            button {
                display: flex;
                margin: auto;
            }
        }
    }
}

@media (max-width: 615px) {
    .formContainer>h1 {
        font-size: 2.4rem;
    }
}
@media (min-width: 616px) {
    .formContainer>h1 {
        font-size: 4rem;
    }
}