$transitionOfHeader: ease-in 0.5s;

@media (min-width: 616px) {
  .header {
    h3 {
      font-size: 3.9rem;
      transition: $transitionOfHeader;
    }
    p {
      font-size: 2rem;
      transition: $transitionOfHeader;
    }
  }
}

@media (max-width: 615px) {
  .header {
    h3 {
      font-size: 2.8rem;
      transition: $transitionOfHeader;
    }
    p {
      font-size: 1.3rem;
      transition: $transitionOfHeader;
    }
  }
}

#topPart {
  height: 100vh;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    h3 {
      color: white;
      font-weight: bold;
    }
    p {
      color: white;
      margin: 0;
    }
  }
}