.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(60, 60, 60, 0.9), rgba(34, 34, 34, 0.8) 100%);
  height: 50px;

  .menu-navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    border: none;


    .menu-toggle-btn {
      color: white;
      font-size: 2.5rem;
    }

    .menu-logo {
      color: white;
      font-size: 2rem;
      margin-left: .9rem;
    }

    .menu-space {
      flex: 1;
    }
  }
}

.menu-navigation-items {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;

    li {
      padding: 0 1rem;

      a {
        color: white;
        text-decoration: none;
      }

      a:hover {
        font-weight: bolder;
        font-size: 120%;
      }
    }
  }
}

.mobile-menu.open {
  transform: translateX(0);
}

.mobile-menu {
  position: fixed;
  width: 200px;
  height: 100%;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
  background-image: linear-gradient(to top, rgba(60, 60, 60, 0.9), rgba(34, 34, 34, 0.8) 100%);
  box-shadow: 1px 5px 5px rgba(60, 60, 60, 0.9);

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    a {
      color: white;
      text-decoration: none;
      font-size: 1rem;
    }

    a:hover {
      font-weight: bolder;
      font-size: 1.3rem;
    }
  }
}



.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 50;
}

@media (max-width: 615px) {
  .menu-navigation-items {
    display: none;
  }
}

@media (min-width: 616px) {
  .menu-toggle-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}