.skills-header > h1 {
  text-align: center;
  font-size: 4rem;
  padding-top: 10px;
}

.skills {
  padding: 10px;
  .skills-wrapper {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    .skills-pic {
      width: 150px;
      height: 150px;
    }
  }
  //first row of skills
  &:nth-child(1)>.skills-wrapper:nth-child(-n+3)>img {
    width: 110px;
    height: 180px;
  }
}

//center last element
.next-row>div:last-child {
  margin-left: 25%;
}
