body {
  background-color: #f1f1f1;
  font-family: 'Raleway', 'Arial', sans-serif;
  margin: 0;
  padding: 0; }

.main-menu {
  position: fixed;
  z-index: 1;
  width: 100%;
  opacity: 0.9; }
  .main-menu a:-webkit-any-link {
    color: white;
    text-decoration: none; }

a:-webkit-any-link:hover {
  font-weight: bolder;
  font-size: 110%; }

.navbar-default {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0;
  margin: 0; }

.navbar-nav span[role=button] {
  padding: 15px;
  display: inline-block;
  line-height: 20px; }

@media (min-width: 616px) {
  .header h3 {
    font-size: 400%;
    transition: ease-in 0.5s; }
  .header p {
    font-size: 250%;
    transition: ease-in 0.5s; } }

@media (max-width: 615px) {
  .header h3 {
    font-size: 300%;
    transition: ease-in 0.5s; }
  .header p {
    font-size: 150%;
    transition: ease-in 0.5s; } }

#topPart {
  height: 100vh; }
  #topPart .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    #topPart .header h3 {
      color: white;
      font-weight: bold; }
    #topPart .header p {
      color: white;
      margin: 0; }

.skills-header > h1 {
  text-align: center;
  font-size: 5rem;
  padding-top: 10px; }

.skills {
  padding: 10px; }
  .skills .skills-wrapper {
    padding-bottom: 30px;
    display: flex;
    justify-content: center; }
    .skills .skills-wrapper .skills-pic {
      width: 150px;
      height: 150px; }

.next-row > div:last-child {
  margin-left: 25%; }

@media (min-width: 1199px) {
  .description-project {
    width: 95.6%; } }

@media (max-width: 1199px) {
  .description-project {
    width: 94.8%; } }

@media (max-width: 991px) {
  .description-project {
    width: 93.3%; } }

@media (max-width: 739px) {
  .description-project {
    font-size: 90%;
    transition: ease-in 0.5s; } }

@media (min-width: 740px) {
  .description-project {
    font-size: 130%;
    transition: ease-in 0.5s; } }

@media (max-width: 527px) {
  .description-project {
    font-size: 70%;
    width: 90.5%; } }

.projects-header {
  padding-top: 10px; }
  .projects-header h1 {
    font-size: 5rem; }

.projects-list {
  display: flex;
  justify-content: center; }
  .projects-list .projects {
    padding: 10px;
    width: 60%; }
    .projects-list .projects .description-project {
      color: white;
      justify-content: center;
      align-items: center;
      height: 15%;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 14px;
      right: 15px; }

#theForm {
  background-color: rgba(187, 183, 183, 0.3);
  border-top: 5px dotted black;
  margin-top: 20px; }
  #theForm .formContainer {
    margin: 0 auto;
    padding: 20px; }
    #theForm .formContainer h1 {
      display: flex;
      justify-content: center;
      font-size: 5rem; }
    #theForm .formContainer .formList {
      display: flex;
      justify-content: center; }
      #theForm .formContainer .formList form {
        width: 40%; }
        #theForm .formContainer .formList form textarea {
          height: 150px; }
      #theForm .formContainer .formList button {
        display: flex;
        margin: auto; }

.lower-part {
  background-color: #d3d3d3; }
  .lower-part .col-xs-2 {
    width: auto; }
    .lower-part .col-xs-2 .profile-pic {
      width: 100px;
      margin-top: 20px; }
  .lower-part .social-media-icon {
    padding: 5px; }
  .lower-part .footer-copyright {
    padding: 20px;
    text-align: center;
    font-weight: bolder; }

@media (min-width: 768px) {
  .footer {
    padding-top: 20px;
    height: 100%; }
    .footer .footer-wrapper {
      padding-right: 10px; }
      .footer .footer-wrapper h3 {
        text-align: center; }
    .footer .footer-aboutMe {
      text-align: justify; }
  .footer-social-media {
    display: grid;
    justify-content: right;
    align-content: center;
    height: 200px; }
  .footer-social-media {
    margin-left: 70px; } }

@media (max-width: 767px) {
  .footer {
    font-size: 80%; }
  .footer-social-media {
    margin-left: 10px;
    display: flex;
    justify-content: center; }
    .footer-social-media div {
      text-align: center;
      padding: 10px; }
      .footer-social-media div a {
        display: block; } }
