body {
  background-color: #f1f1f1;
  font-family: 'Raleway', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

@import "partials/menuList.scss";
@import "partials/header.scss";
@import "partials/skills.scss";
@import "partials/projects.scss";
@import "partials/forms.scss";
@import "partials/footer.scss";